

$TEA_GREEN: #C4DBB9;
$MAIN_BG:$TEA_GREEN; //#fff
// HEADER
$HEADER_BG:$TEA_GREEN; //#fff


// COLUMNS
$COLUMN_CONTENT_BG :$TEA_GREEN; //#fff
$COLUMN_TITLE_BG:#3DE1B5;
$COLUMN_TITLE_COLOR:#181F1C;


// FOOTER
$FOOTER_BG:$TEA_GREEN; // #fff